.Gallery{
    border: 10px solid #fff;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Pane{
    display: flex;
    overflow-x: scroll;
}

.GalleryImage {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.GalleryImage:hover {
    opacity: 0.7;
}

.Enlarged{
    flex: 1;
    position: relative;
    background-color: #fff;
}

.Enlarged .GalleryImageBig{
    /* height: 100%;
    width: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.InfoWrapper{
    position: absolute;
    display: flex;
    background: #C4D6B0;
    height: 150px;
    bottom: 20px;
    right:0;
    transform: translateX(90%);
    transition: transform ease-in-out 588ms;
}

.InfoWrapper:hover{
    transform: translateX(0%);
}

.Tab{
    width: 10px;
    word-wrap: break-word;
    margin: 20px 10px;
    align-self: center;
    color: black;
}

.Info{
    width: 300px;
    margin: 20px;
    align-self: center;
}

.Info p{
    margin: 0;
    color: black;
}

@media screen and (min-width: 768px) {
    .Gallery{
        flex-direction: row;
    }

    .Pane{
        flex-direction: column;
        border-right: 10px solid #fff;
        overflow-y: scroll;
        overflow-x: unset;
        width: fit-content;
    }
}