.root {
  height: 100vh;
  background-color: #fff;
  color: #000;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 25px;
  box-sizing: border-box;
}

.homeNav {
  display: flex;
  justify-content: space-between;
  color: black;
}

.backgroundText {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  right: 0;
  bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #fff;
  line-height: 1;
}

.backgroundText p {
  margin: 0;
  font-size: 30vh;
  grid-area: 1/3;
}

.backgroundText .day {
  margin-left: 150px;
  margin-top: 80px;
}

.iAm {
  position: absolute;
  bottom: 40px;
}

.mainText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 350px;
}

.mainText h1 {
  font-size: 34px;
}

.mainText h3 {
  font-size: 23px;
}

.mainText * {
  text-align: center;
  margin: 0;
}

.halfCircle {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 25px 100px;
  }

  .homeNav {
    display: initial;
    margin-top: 80px;
  }

  .mainText {
    width: unset;
  }

  .backgroundText p,
  .backgroundText .day {
    font-size: 50vh;
    margin: 0;
    grid-area: auto;
  }

  .halfCircle {
    position: absolute;
    width: 500px;
    height: 500px;
  }

  .iAm {
    margin-top: 200px;
    position: initial;
  }
}
