.Main{
    padding: 50px 0;
    box-sizing: border-box;
}

.FinishMain,
.DoodlesMain,
.WIPMain{
    padding: 50px 0 0;
}

  .HeroContainer{
    height: 125px;
    display: flex;
    justify-content: center;
  }
  
  .Hero{
    height: 100%;
  }
  
  .Container{
    display: flex;
    margin: 30px 0;
    min-height: 310px;
    flex-direction: column;
  }
  
  .Container .Links{
    min-height: 350px;
    position: relative;
  }

  .Links .wip{
      left: 180px;
      top: 100px;
  }

  .Links .doodles{
    top: 200px;
}
  
  .Container .Description{
    max-width: 600px;
    margin: 0 20px;
  }

  .ContactMe{
      margin: 0 20px 40px;
  }

  .ContactMe h2{
    color: #BD6340;
    letter-spacing: 6px;
  }

  .ContactMe a{
      color: white;
      text-decoration: none;
  }

  /* a:visited{
    color: #BD6340;
  } */
  
  .ContactMe a:hover{
    opacity: 0.8;
  }
  
  @media screen and (min-width: 768px) {
    .Main{
        padding: 0;
    }

    .HeroContainer{
      height: 375px;
    }

    .Container .Links{
        min-width: 500px;
        min-height: unset;
      }

    .Container{
        flex-direction: row;
      }

  .Links .wip{
    left: 250px;
}

.ContactMe{
    text-align: center;
}

.ContactMe h2{
   font-size: 30px;
  }
      
  }