.root {
    height: 100vh;
    background-color: #fff;
    color: #000;
}

.container{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 25px 100px;
  box-sizing: border-box;
}

.homeNav{
  /* margin-top: 80px; */
  display: flex;
  justify-content: space-between;
}

.backgroundText{
  /* font-size: 200px; */
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #fff;
line-height: 1;
}

.backgroundText p{
  margin: 0;
  font-size: 30vh;
}

.iAm{
  margin-top: 180px;
}

.mainText{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  width: 350px;
}

.mainText *{
  text-align: center;
}
  
.halfCircle{
  position: absolute;
width: 372px;
height: 92px;
left: 63px;
top: 568px;
border-radius: 50%;
background: rgba(255, 255, 255, 0.2);
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
  .homeNav{
    display: initial;
    margin-top: 80px;
  }

  .mainText{
width: unset;
  }

  .backgroundText p{
    font-size: 50vh;
  }

  .halfCircle{
    position: absolute;
  width: 576px;
  height: 576px;
  left: calc(50% - 576px/2);
  top: calc(50% - 576px/2);
  }
}
