.root {
    height: 100vh;
    background-color: pink;
}

.container{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 25px 100px;
  box-sizing: border-box;
}

.homeNav{
  margin-top: 80px;
}

.topNav{
  text-align: end;
}

.backgroundText{
  font-size: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: pink;
line-height: 1;
}

.mainText,
.halfCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
  
.halfCircle {
  width: 80vh;
  height: 40vh; /* as the half of the width */
  background-color: gold;
  opacity: 0.7;
  border-bottom-left-radius: calc(40vh + 10px);  /* 100px of height + 10px of border */
  border-bottom-right-radius: calc(40vh + 10px);/* 100px of height + 10px of border */
  /* border: 10px solid gray; */
  /* border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, #260B3C, #a053df);
  border-image-slice: 1;
  border-top: 0;
  border-image-repeat: round; */
  /* position: absolute; */
}

/* .halfCircle::after {
  position: absolute;
  top: -4px; bottom: -4px;
  left: -4px; right: -4px;
  background: linear-gradient(red, blue);
  content: '';
  z-index: -1;
  border-radius: 16px;
} */
  /* @media screen and (min-width: 768px) {
    .Main{
        padding: 0;
    }
      
  } */