.Image{
    height: 100px;
    width: auto;
}

.Root{
    display: block;
    width: fit-content;
    position:absolute;
    left: 70px;
    color: orange;
}

.Title{
    margin: 0;
    margin-left: 15px;
    color: orange;
}

@media screen and (min-width: 768px) {
    .Root{
        left: 100px;
    }
}