html, #root, body,.Main{
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Space Mono', monospace;
  color: white;
}

.Main{
  overflow-y: scroll;
  background: black;
}

.Nav{
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 5;
}

.Nav a{
  margin-right: 20px;
  color: #BD6340;
  font-size: 18px;
}

a:visited{
  color: #BD6340;
}

a:hover{
  opacity: 0.8;
}