 html, #root, body,.Main{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Main{
  overflow-y: scroll;
}

.Nav{
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 5;
}

.Nav a{
  margin-right: 20px;
  color: purple;
  font-size: 18px;
}
